name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ec2-13-218-184-185.compute-1.amazonaws.com
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            sudo systemctl stop httpd
            sudo rm -rf /var/www/html/*
            cd /var/www/html
            sudo git clone https://github.com/MichelBarcellos/pipe-app.git .
            sudo rm -rf .git .github
            echo 'DirectoryIndex meusite.html' | sudo tee /etc/httpd/conf.d/directoryindex.conf
            sudo chown -R apache:apache /var/www/html/
            sudo chmod -R 755 /var/www/html/
            sudo systemctl start httpd