name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ec2-54-227-204-11.compute-1.amazonaws.com
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/html
            sudo git clone https://github.com/${{ github.repository }}.git temp || sudo git -C temp pull
            sudo cp -r temp/* .
            sudo rm -rf temp
            sudo chown -R apache:apache /var/www/html
            sudo chmod -R 755 /var/www/html