name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Deploy
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem
          scp -i key.pem -o StrictHostKeyChecking=no -r ./* ec2-user@ec2-54-227-204-11.compute-1.amazonaws.com:/home/ec2-user/
          ssh -i key.pem -o StrictHostKeyChecking=no ec2-user@ec2-54-227-204-11.compute-1.amazonaws.com "sudo cp -r /home/ec2-user/*.* /var/www/html/ && sudo chown -R apache:apache /var/www/html/"
          rm key.pem
    