name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avzr --delete
          path: ./
          remote_path: /var/www/html/
          remote_host: ec2-54-227-204-11.compute-1.amazonaws.com
          remote_user: ec2-user
          remote_key: ${{ secrets.EC2_SSH_KEY }}
    